html,
body,
#root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1 !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition: all var(--transition-duration);
}

:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}
